.header{
    display: flex;
    align-items: center;
    background: black;
}

 .header-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}


.img-header{
    max-height: 100px;
}

.title{
    padding-left: 25px;
}