<mat-card class="adm-home mat-elevation-z3">
    <mat-card-title class="adm-title">
        Bem vindo Administrador!
    </mat-card-title>
    <mat-card-subtitle class="adm-subtitle">
        O que deseja fazer?
    </mat-card-subtitle>
    <div class="buttons-select">
        <div class="butt">
            <button type="button" mat-raised-button (click)="gotoCreate()" class="teste">
                Criar Produto
            </button>
            <button type="button" mat-raised-button (click)="gotoModify()">
                Alterar Produto
            </button>    
        </div>  
    </div>
</mat-card>
